
#controls {
  // required variables:
  // @text: #333;
  // @lines: #eee;
  // @slider-fg: #2fa1d6;
  // @slider-bg: #eee;

  .dg {
    text-shadow: none;
    color: @text;

    li:not(.folder) {
      background: @controls-bg;
      border-bottom: 1px solid @lines;
    }
    // fix dat.gui sliders positioning
    .c {
      position: relative;
      .slider {
        background: @slider-bg;
        position: absolute;
        width: 65%;
        padding: 0;
      }
      .slider-fg {
        background: @slider-fg;
      }
      input[type=text] {
        background: inherit;
      }
      .button {
        height: 22px;
        border: 1px solid @button-border;
        border-radius: 3px;
        margin: 2px 0;
        padding: 0;
        background: @button-bg;
      }
    }
    .cr.number,
    .cr.string,
    .cr.function {
      border-left: 0;

      input[type=text] {
        color: @text;
      }
    }
  }

  .dg.main {
    .close-button {
      display: none;
      background: @controls-bg;
    }
  }

  // remove annoying curving style and handle
  .slider {
    border-radius: 1px;
  }
  .slider-fg {
    border-radius: 1px;
    padding: 0;
    margin: 0;
  }
  .slider-fg:after {
    border: 0;
    background-color: transparent;
  }
}
