
.homeostat {
  .unit {
    stroke: #afafaf;
    stroke-width: 1;
    // fill: #ffffff;
  }

  .link {
    stroke: @homeostat-link;
    opacity: 0.1;
    stroke-width: 1;
  }

  .needle {
    stroke: #888;
    stroke-width: 6;
  }
}
