@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "normalize.less";
@import "skeleton.less";
@line-height: 15px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #ddd;
  font-size: 2em;
  margin-left: 1rem
}

.content {
  width: 100%;
  height: 100%;
}

#controls {
  float: right;
  // width: 300px;
}
#board {
  text-align: center;
  margin: 0 auto;
  float: left;
}

@import "segregation.less";
@import "homeostat.less";
@import "dat-gui.less";
