

#board {
  margin-top: 4rem;
}

#lower {
  margin-top: 4rem;
}
#controls {
  float: left;
  // width: 300px;
}
#statistics {
  float: left;
  padding-left: 2rem;
  > div {
    margin-bottom: 3rem;
  }
}

#about {
  max-width: 40em;
  margin: 4rem auto;
  font-size: 0.9em;
  overflow: auto;
}

.clear {
  clear: both;
}
.vacant {
  fill: #808080;
}
.group1 {
  fill: #99b3ff;
}
.group2 {
  fill: #ff99c2;
}
.unhappy {
  stroke: #e02d2d;
  stroke-width: 2;
}
.scale {
  font-size: 8px;
}
.gridline {
  fill: none;
  stroke: #ccc;
}
.path {
  stroke-width: 1;
  stroke: #444;
  fill: none;
}
.threshold {
  fill: none;
  stroke: #afc;
  stroke-width: 1;
}
.readout {
  font-size: 2em;
  color: #333;
}
.inputReadout {
  color: #666;
}
