

#controls {
  float: left;
  width: 300px;
}
#board {
  float: left;
  width: 500px;
  height: 500px;
}
#statistics {
  float: left;
  padding-left: 2rem;
  > div {
    margin-bottom: 3rem;
  }
}
#about {
  max-width: 40em;
  margin: 4rem auto;
  font-size: 0.9em;
}

.clear {
  clear: both;
}
.vacant {
  fill: #fff;
}
.group1 {
  fill: #f6b15a;
}
.group2 {
  fill: #51b5ee;
}
.unhappy {
  stroke: #e02d2d;
  stroke-width: 2;
}
.scale {
  font-size: 8px;
}
.gridline {
  fill: none;
  stroke: #ccc;
}
.path {
  stroke-width: 1;
  stroke: #444;
  fill: none;
}
.threshold {
  fill: none;
  stroke: #afc;
  stroke-width: 1;
}
.readout {
  font-size: 2em;
  color: #333;
}
.inputReadout {
  color: #666;
}
